body {
    background-color: #45a049;
    font-family: Arial, sans-serif;
}
h1{
    text-align: center;
    font-family: fantasy;
    font-size: 8vw;
    color: #ffffff;
    
}
h2 {
    text-align: center;
    font-size: 2vw;
    color: #000000;
}

.Outline {
    width: 100%;
    height: 50px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #f0f0f0;
    margin: 20px auto;
    box-shadow: 2px 2px 5px rgba(0, 20, 6, 0.5);
}
#progress-bar {
    width: 0%;
    height: 100%;
    background-color: #4400ff;
    
    transition: width 0.5s ease-in-out;
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #000000;
    background-color: #ffffff;
    border: solid 2px #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms;
}
button:hover {
    
    box-shadow: 2px 2px 5px rgba(0, 20, 6, 0.5);
    transform: scale(1.05);
}
.reset button{
   background-color: #ce0c0c;
}
.reset button:hover {
    background-color: #b00a0a;
}